
/*  */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Kenia&family=PT+Serif:wght@400;700&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  list-style-type: none;
  text-decoration: none;
  line-height: .75;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgba(242, 237, 233, 1);
  overflow-x: hidden;
  scroll-behavior: smooth;
  overflow: hidden;
}


.lg-backdrop {
  opacity: 0.8 !important;
}

.banner-container {
  width: 100%;
  min-height: 630px;
  position: relative;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.darwin {
  position: absolute;
/*   margin-top: -20px; */
  /* top: 0; */
  width: 530px;
  height: 500px;
  margin-bottom: 80px;
  pointer-events:none;
}
.banner-container:after {
    content: "";
  position: absolute;
  top:0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(238,233,227);
  background-image: linear-gradient(to bottom, rgb(238,233,227), rgb(241,224,207));
  mix-blend-mode: multiply;
}
  

#particles-js {
  position: relative;
  z-index: 1;
  background-color: #ffffff !important;
}

.banner-container .banner-text {
  position: absolute;
  top: 48%;
  right: 50%;
  transform: translate(50%, -50%);
  color: rgb(255, 255, 255);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 60 !important;
  font-weight: 700;
}

.banner-container .banner-text .activity {
  text-transform: uppercase;
  font-size: 20px;
/*   -webkit-text-stroke: 1px white; */
color: rgb(123,87,67);
}

.banner-container .banner-text .title {
  white-space: nowrap;
  line-height: .8;
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 900;
margin:1px 0 50px 0;
font-family: 'DM Serif Display', serif;
letter-spacing: 2px;

color: rgb(90,60,38);


}

.banner-container .banner-text .introduction {
  /*   text-transform: uppercase; */
  /* margin-top: 150px; */
  line-height: 1.1;
  font-size: 25px;
  font-weight: 700;
  color: rgb(123,87,67);
  margin-top: 20px;
  z-index: 10;
}

.banner-container .banner-text .fa-chevron-down {
  margin:50px 0 0px 0;
  font-size: 2.2vw!important;
  color: rgb(90,60,38);
}


.output-container {
  background-color: rgba(255, 255, 255, 1);
  margin: -100px 30px 30px 30px;
  position: relative;
  z-index: 1;
  border-radius: 20px;
}

.output-content {
  padding: 15px;
}


/* Gallery */
.activity-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
}

.activity-content {
  margin: 50px 0 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  flex: 1;
  width: 100%;
}

.activity-content .image {
  height: 270px;
  overflow: hidden;
  position: relative;
}

.gallery {
  padding: 10px;
  transition: .4s;
}

.gallery .image img {
  transition: .4s;
  /*   -webkit-filter: grayscale(100%); 
  filter: grayscale(100%); */
}

.gallery .image:after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 10;
  /* background-color: rgba(170, 132, 83,0.5); */
  background-image: linear-gradient(to bottom, rgba(121, 111, 94, 0.388), rgba(170, 132, 83, 0.766));
  pointer-events: none;
  opacity: .8;
}

.gallery .image .text {
  font-size: 10em;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-weight: 600;
  color: white;
  z-index: 20;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.12);
  pointer-events: none;
}

/* .gallery .image img:hover {
  transform: scale(1.1);
  transition: .4s;
} */

.gallery .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery .image {
  border-radius: 10px;
}

.final-output-container {
  margin: 200px 0 0px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

/*  */

.activity-container .line, .final-output-container .line {
  width: 100px;
  height: 4px;
  background-color: rgb(74,45,22);
  margin: 0px 0;

}



.final-output-container-text {
  position: relative;
  white-space: nowrap
  
}

.final-output-container .title {
  margin: 30px 0;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 700;
  color: rgb(74,45,22);
  font-family: 'DM Serif Display', serif;
  letter-spacing: 2px;
}
.final-output-container .title:after {
content: "Project";
position: absolute;
top: 50%; right: 50%;
  transform: translate(50%,-50%);
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 700;
  color: transparent;
    -webkit-text-stroke: 1px rgb(23,23,23);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
}

.activity-container-text {
  position: relative;
  white-space: nowrap
}

.activity-container .title {
  margin: 30px 0;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 700;
 color: rgb(74,45,22);
  font-family: 'DM Serif Display', serif;
  letter-spacing: 2px;
}
.activity-container .title:after {
content: "Activity";
position: absolute;
top: 50%; right: 50%;
  transform: translate(50%,-50%);
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 700;
  color: transparent;
    -webkit-text-stroke: 1px rgb(23,23,23);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
}

/*  */



.final-output-container iframe {
  margin: 50px 0 0 0;
  width: 100%;
  padding: 0 10px 10px 10px;
  height: 45vw;
  border: none;
}

.back-to-top {
  z-index: 1;
  border-radius: 10px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  padding: 15px;
  color: white;
  background-color: rgb(23,23,23);
  /* rgb(36,27,30); */
/*   border: 1px solid rgb(23,23,23); */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.5s ease-in-out;
  visibility: hidden;
}

.back-to-top .fa-chevron-up {
  font-size: 23px;
  font-weight: 900;
}

footer,nav {
  height: 15px;
  width: 100%;
  background-color: rgb(23,23,23);
}
@media (min-width:0px) and (max-width:826px) {
  .banner-container .banner-text .activity {

    font-size: 3vw;
  /*   -webkit-text-stroke: 1px white; */
  }
  /* .darwin {
   display: none;
   
  } */
  .darwin {
    position: absolute;
    margin-top: -100px;

    width: 70vw;
    height: 68vw;
    margin-bottom: -100px;
  }
  
  .banner-container .banner-text .title {
    white-space: nowrap;
    line-height: .8;
    text-transform: uppercase;
    font-size: 8vw;
    font-weight: 700;
  margin:10px 0 50px 0;
  
  }
  
  .banner-container .banner-text .introduction {
    /*   text-transform: uppercase; */
    line-height: 1.1;
    font-size: 2.7vw;
    font-weight: 700;
   
  }
  
  .banner-container .banner-text .fa-chevron-down {
    margin:50px 0 0px 0;
    font-size: 3vw!important;
  }
  
  
}

@media (min-width:0px) and (max-width:576px) {
  .activity-content {

  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}
}
@media (min-width:0px) and (max-width:376px) {
  .activity-content {

  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

}
}

@media (min-width:0px) and (max-width:576px) {
  
  
.banner-container .banner-text .activity {
  font-size: 4vw;
}

.banner-container .banner-text .title {
  white-space: normal;
  line-height: .8;
  text-transform: uppercase;
  font-size: 10vw;
  font-weight: 700;
margin:5px 0 20px 0;

}

.banner-container .banner-text .introduction {
  /*   text-transform: uppercase; */
  line-height: 1.1;
  font-size: 3vw;
  font-weight: 700;
}

.banner-container .banner-text .fa-chevron-down {
  margin:30px 0 0px 0;
  font-size: 5vw!important;
}






.activity-container .line, .final-output-container .line {
  width: 70px;
  height: 3px;
  background-color: rgb(23,23,23);
  margin: 5px 0;
}



.final-output-container-text {
  position: relative;
  white-space: nowrap
}

.final-output-container .title {
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 9vw;
  font-weight: 700;
  color: rgb(23,23,23);
}
.final-output-container .title:after {
content: "Project";
position: absolute;
top: 50%; right: 50%;
  transform: translate(50%,-50%);
  text-transform: uppercase;
  font-size: 14vw;
  font-weight: 700;
  color: transparent;
    -webkit-text-stroke: 1px rgb(23,23,23);
}

.activity-container-text {
  position: relative;
  white-space: nowrap
}

.activity-container .title {
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 9vw;
  font-weight: 700;
  color: rgb(23,23,23);
}
.activity-container .title:after {
content: "Activity";
position: absolute;
top: 50%; right: 50%;
  transform: translate(50%,-50%);
  text-transform: uppercase;
  font-size: 14vw;
  font-weight: 700;
  color: transparent;
    -webkit-text-stroke: 1px rgb(23,23,23);
}

}


/* ------------- */
.selection {

  margin: 30px 0 0 0 ;
  display: flex;

}
.selection > div{
  font-size: 25px;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.3s;
  color: rgb(123,87,67);
  padding-bottom:3px;
  border-bottom: 4px rgba(74,45,22,0) solid;
}
.selection > div:hover{
  border-bottom: 4px rgb(74,45,22) solid;
  color: rgb(74,45,22);
}

/* ul .fl-301, ul .fl-302 {
  display: none;
} */

.active {
  color: rgb(74,45,22)!important;
  border-bottom: 4px rgb(74,45,22) solid!important;
}

/* .hide {
  display: none!important;
}

.show {
  display: block!important;
} */